@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&family=Mea+Culpa&family=The+Nautigal:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

.corpo-1 {
    height: 530px;
    width: 100%;
    background-image: linear-gradient( to left, rgb(9, 44, 161) , rgb(11, 202, 216),rgb(9, 44, 161) ); 
       
}

.nav {
    height: 120px;
    width: 1300px;
    border: 1px solid white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.nome-do-logo {
    margin-left: 25px;
    font-size: 60px;
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu span {
    margin-left: 25px;
    font-size: 17px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px 30px;
}

.menu span:hover {
    color: white;
    border: 1px solid white ;
    background: rgb(9, 44, 161) ;
}

/* Carrousel */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 30px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: 15px;

  }
  
  .active, .dot:hover {
    background-color: rgb(9, 44, 161);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

 .corpo-2 {
    height: 510px;
    background: #9FC3DD;
 }

 .corpo2-central {
     width: 1300px;
     height: 510px;
     margin: auto;
     display: flex;
 }

.size {
    width: 433.3px;
    height: 510px;
    border: 1px solid white;
}

.corpinho-1  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    color: rgb(9, 44, 161);
}


.corpinho-1 img {
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.452);
}

.corpinho-1 span {
    position: relative;
    bottom: 20px;
}